@font-face {
    font-family: "Debug";
    src: url(fonts/DebugFreeTrial.otf);
} 
@font-face {
    font-family: "FutureTimeSplitters";
    src: url(fonts/FutureTimeSplitters.otf);
} 
@font-face {
    font-family: "AerologicaRegular-K7day";
    src: url(fonts/AerologicaRegular-K7day.ttf);
}
@font-face {
    font-family: "Prodush";
    src: url(fonts/Prodush.otf);
}
body{
    font-family: Prodush;
}
body *{
    font-family: inherit;
    text-transform: uppercase;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(182, 86, 3,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(182, 86, 3,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to right, #e3aa0e, #161616,#e3aa0e);
    -webkit-box-shadow: inset 0 0 6px rgba(182, 86, 3,0.5); 
    box-shadow: inset 0 0 6px rgba(182, 86, 3,0.5); 
}
body .bg-image{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
body .container{
    position: relative;
    z-index: 1;
}
.logo{
    max-width: 150px;
    min-width: 80px;
    animation-name: rotateY;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rotateY{
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
#join-game .card{
    background-image: url(../images/join-game.png);
    width: 500px;
    height: 500px;
    color: white;
}
#join-room .card{
    background-image: url(../images/join-room.png);
    width: 500px;
    height: 700px;
    color: white;
}
#join-room{
    line-height: 1;
}
#join-room .list-group{
    height: 315px;
}
#join-room .list-group .room-item{
    text-align: left;
    text-indent: 55px;
    border: 1px solid #e3aa0e;
    background: transparent;
    color: white;
}
#join-room .list-group .room-item:hover{
    filter: brightness(120%);
}
#join-room .list-group .room-item .room-user{
    height: 46px;
    width: 50px;
    position: absolute;
    left: 3%;
    bottom: calc(50% - 23px);
    background-size: 100% 100%;
}
#join-room .list-group .room-item p{
    margin: 0;
}
#join-room .list-group .room-item .nouser{
    background-image: url(../images/room-nouser.png);
}
#join-room .list-group .room-item .user{
    background-image: url(../images/room-user.png);
}
#game-play .card{
    background-image: url(../images/game-play-card.png);
}
#game-play .card .card-title{
    background-image: url(../images/player-name.png);
    color: white;
    background-size: 100% 100%;
}
#game-play .card .btn-success{
    background-image: url(../images/bet-button.png);
    line-height: 1;
} 
#play-side .card{
    background-image: url(../images/room-name.png);
}
#game-play .avatar-div .avatar{
    width: 120px;
    height: 80px;
    margin: 0 auto;
    background-size: 100% 100%, auto 70%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
#game-play .avatar-div .avatar[disabled]{
    filter: brightness(70%);
    cursor: not-allowed;
}
#game-play .avatar-div .avatar-0{
    background-image: url(../images/avatar-back.png), url(../images/avatars/0.png);
}
#game-play .avatar-div .avatar-1{
    background-image: url(../images/avatar-back.png), url(../images/avatars/1.png);
}
#game-play .avatar-div .avatar-2{
    background-image: url(../images/avatar-back.png), url(../images/avatars/2.png);
}
#game-play .avatar-div .avatar-3{
    background-image: url(../images/avatar-back.png), url(../images/avatars/3.png);
}
#game-play .avatar-div .avatar-4{
    background-image: url(../images/avatar-back.png), url(../images/avatars/4.png);
}
#game-play .avatar-div .avatar-5{
    background-image: url(../images/avatar-back.png), url(../images/avatars/5.png);
}
#game-play .avatar-div .avatar-6{
    background-image: url(../images/avatar-back.png), url(../images/avatars/6.png);
}
#game-play .avatar-div .avatar-7{
    background-image: url(../images/avatar-back.png), url(../images/avatars/7.png);
}
#game-play .avatar-div .avatar-8{
    background-image: url(../images/avatar-back.png), url(../images/avatars/8.png);
}
#game-play .avatar-div .avatar-9{
    background-image: url(../images/avatar-back.png), url(../images/avatars/9.png);
}
#game-play .avatar-div .avatar-10{
    background-image: url(../images/avatar-back.png), url(../images/avatars/10.png);
}
#game-play .avatar-div .avatar-11{
    background-image: url(../images/avatar-back.png), url(../images/avatars/11.png);
}
#game-play .avatar-div .avatar-12{
    background-image: url(../images/avatar-back.png), url(../images/avatars/12.png);
}
#game-play .avatar-div .avatar-13{
    background-image: url(../images/avatar-back.png), url(../images/avatars/13.png);
}
#game-play .avatar-div .avatar-14{
    background-image: url(../images/avatar-back.png), url(../images/avatars/14.png);
}
#game-play .avatar-div .avatar-15{
    background-image: url(../images/avatar-back.png), url(../images/avatars/15.png);
}
#game-play .avatar-div .avatar-16{
    background-image: url(../images/avatar-back.png), url(../images/avatars/16.png);
}
#game-play .avatar-div .avatar-17{
    background-image: url(../images/avatar-back.png), url(../images/avatars/17.png);
}
#game-play .avatar-div .avatar-18{
    background-image: url(../images/avatar-back.png), url(../images/avatars/18.png);
}
#game-play .avatar-div .avatar-19{
    background-image: url(../images/avatar-back.png), url(../images/avatars/19.png);
}
#game-play .avatar-div .avatar-20{
    background-image: url(../images/avatar-back.png), url(../images/avatars/20.png);
}
#game-play .avatar-div .avatar-21{
    background-image: url(../images/avatar-back.png), url(../images/avatars/21.png);
}
#game-play .avatar-div .avatar-22{
    background-image: url(../images/avatar-back.png), url(../images/avatars/22.png);
}
#game-play .avatar-div .avatar-23{
    background-image: url(../images/avatar-back.png), url(../images/avatars/23.png);
}
#game-play .avatar-div .avatar-24{
    background-image: url(../images/avatar-back.png), url(../images/avatars/24.png);
}
#game-play .avatar-div .avatar-25{
    background-image: url(../images/avatar-back.png), url(../images/avatars/25.png);
}
#game-play .avatar-div .avatar-26{
    background-image: url(../images/avatar-back.png), url(../images/avatars/26.png);
}
#game-play .avatar-div .avatar-27{
    background-image: url(../images/avatar-back.png), url(../images/avatars/27.png);
}
#game-play .avatar-div .avatar-28{
    background-image: url(../images/avatar-back.png), url(../images/avatars/28.png);
}
#game-play .avatar-div .avatar-29{
    background-image: url(../images/avatar-back.png), url(../images/avatars/29.png);
}
#game-play .avatar-div .avatar-30{
    background-image: url(../images/avatar-back.png), url(../images/avatars/30.png);
}

#avatar-modal .avatar{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-size: 100% 100%, auto 70%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid gray;
    border-radius: 50%;
}
#avatar-modal .selected{
    border-color: #e3aa0e;
    border-width: 2px;
    box-shadow: 0 0 6px 6px rgba(182, 86, 3,0.5);
}
#avatar-modal .avatar[disabled]{
    filter: brightness(70%);
    cursor: not-allowed;
}
#avatar-modal .avatar-0{
    background-image: url(../images/avatars/0.png);
}
#avatar-modal .avatar-1,.coin .avatar-1{
    background-image: url(../images/avatars/1.png);
}
#avatar-modal .avatar-2,.coin .avatar-2{
    background-image: url(../images/avatars/2.png);
}
#avatar-modal .avatar-3,.coin .avatar-3{
    background-image: url(../images/avatars/3.png);
}
#avatar-modal .avatar-4,.coin .avatar-4{
    background-image: url(../images/avatars/4.png);
}
#avatar-modal .avatar-5,.coin .avatar-5{
    background-image: url(../images/avatars/5.png);
}
#avatar-modal .avatar-6,.coin .avatar-6{
    background-image: url(../images/avatars/6.png);
}
#avatar-modal .avatar-7,.coin .avatar-7{
    background-image: url(../images/avatars/7.png);
}
#avatar-modal .avatar-8,.coin .avatar-8{
    background-image: url(../images/avatars/8.png);
}
#avatar-modal .avatar-9,.coin .avatar-9{
    background-image: url(../images/avatars/9.png);
}
#avatar-modal .avatar-10,.coin .avatar-10{
    background-image: url(../images/avatars/10.png);
}
#avatar-modal .avatar-11,.coin .avatar-11{
    background-image: url(../images/avatars/11.png);
}
#avatar-modal .avatar-12,.coin .avatar-12{
    background-image: url(../images/avatars/12.png);
}
#avatar-modal .avatar-13,.coin .avatar-13{
    background-image: url(../images/avatars/13.png);
}
#avatar-modal .avatar-14,.coin .avatar-14{
    background-image: url(../images/avatars/14.png);
}
#avatar-modal .avatar-15,.coin .avatar-15{
    background-image: url(../images/avatars/15.png);
}
#avatar-modal .avatar-16,.coin .avatar-16{
    background-image: url(../images/avatars/16.png);
}
#avatar-modal .avatar-17,.coin .avatar-17{
    background-image: url(../images/avatars/17.png);
}
#avatar-modal .avatar-18,.coin .avatar-18{
    background-image: url(../images/avatars/18.png);
}
#avatar-modal .avatar-19,.coin .avatar-19{
    background-image: url(../images/avatars/19.png);
}
#avatar-modal .avatar-20,.coin .avatar-20{
    background-image: url(../images/avatars/20.png);
}
#avatar-modal .avatar-21,.coin .avatar-21{
    background-image: url(../images/avatars/21.png);
}
#avatar-modal .avatar-22,.coin .avatar-22{
    background-image: url(../images/avatars/22.png);
}
#avatar-modal .avatar-23,.coin .avatar-23{
    background-image: url(../images/avatars/23.png);
}
#avatar-modal .avatar-24,.coin .avatar-24{
    background-image: url(../images/avatars/24.png);
}
#avatar-modal .avatar-25,.coin .avatar-25{
    background-image: url(../images/avatars/25.png);
}
#avatar-modal .avatar-26,.coin .avatar-26{
    background-image: url(../images/avatars/26.png);
}
#avatar-modal .avatar-27,.coin .avatar-27{
    background-image: url(../images/avatars/27.png);
}
#avatar-modal .avatar-28,.coin .avatar-28{
    background-image: url(../images/avatars/28.png);
}
#avatar-modal .avatar-29,.coin .avatar-29{
    background-image: url(../images/avatars/29.png);
}
#avatar-modal .avatar-30,.coin .avatar-30{
    background-image: url(../images/avatars/30.png);
}

.card{    
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
}
.btn{    
    background-size: 100% 100%;
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
}
.btn:hover,.btn:focus,.btn:active{    
    border: none;
    outline: none;
    background-color: transparent;
    transform: scale(1.1);
}
.btn-back{
    background-image: url(../images/back-button.png);
    width: 40px;
    height: 30px;
    position: absolute;
    right: 5%;
    top: 5%;
}
.btn-primary{
    padding: 0 1em;
    background-image: url(../images/normal-button.png);
}
#go-text{
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 100vh;
    font-size: min(40vh, 40vw);
    color: #e3aa0e;
    font-weight: bold;
    font-family: FutureTimeSplitters;
    text-shadow: 0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white;
}

.coin-area{
    height: calc(100vh - 240px);
}

.coin{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom:  0;
    position: absolute;
    left: calc(50% - 40px);
}
.coin *{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border-radius: 50%;
    transform-style: preserve-3d;
    background-size: 100% 100%;
    box-sizing: border-box;
    border: 2px solid #e3aa0e;
}
.coin .back-side{
    transform: rotateX(180deg);
}

#winner-show{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1;
}

#winner-show .dog{
    background-image: url(../images/winner-show.png);
    background-size: 100% 100%;
    width: 400px;
    height: 500px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 250px);
}
#winner-show .dog .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 58px;
    left: calc(50% - 60px);
    background-size: 100% 100%;
    box-shadow: 0 0 6px 6px rgba(182, 86, 3,0.5);
}

#game-result .card{
    width: 500px;
    height: 700px;
    background-image: url(../images/win-back.png);
}
#game-result .failed{
    background-image: url(../images/fail-back.png);
}
#game-result .reward-info{
    margin-top: 84%;
}
#game-result .reward-info p{
    line-height: 1;
    margin: 0;
    color: white;
}
#game-result button{
    width: 60px;
    height: 60px;
}
#game-result #home-button{
    background-image: url(../images/home-button.png);
}
#fireworks{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}